<!-- <h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
<a href="http://localhost:3000/index">display</a> -->

<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
   <!-- <link rel="stylesheet" href="/css/styles.min.css"> -->
   <link rel="stylesheet" href="/css/login.css">
   
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
   <!-- <a href="https://stormy-tor-03636.herokuapp.com/room">Videocall2</a>
   <a href="http://localhost:3000/index">Videocall3</a> -->
<!-- <h1>Login</h1> -->
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>

<!-- <form action="/login" method="POST" >
 <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>
<form action="/register" method="POST">
  <button type="submit">Register</button>

</form>
<a href="/register">Register</a> -->

<!------ Include the above in your HEAD tag ---------->
    <div  class="centered-form">
      <div class="sidenav" >
         <div class="login-main-text">
            <h2>Hi <%= name %> </h2>
            <p>Register an account</p>
         </div>
      </div>
      <div class="main" >
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <!-- <form action="/register"  method="POST"  >
                  <div class="form-group" >
                      <label for="name">Name</label>
                      <input type="text" class="form-control" placeholder="User Name" id="name" name="name" >
                  </div>
                  <div class="form-group" >
                     <label for="email">Email-id</label>
                     <input type="text" class="form-control" placeholder="User Name" id="email" name="email" required>
                  </div>
                  <div class="form-group" >
                     <label for="password">Password</label>
                     <input type="password" class="form-control" id="password" name="password" placeholder="Password" required >
                  </div>
                  <button type="submit" class="btn btn-black">Register</button>
                  
                </form>
                <form action="/login" method="POST"  >
                 <button type="submit" class="btn btn-black">Login</button>
                </form>
                -->
               <form action="/logout?_method=DELETE" method="POST"  >
                <button type="submit" class="btn btn-secondary">Logout</button>
                </form>
               <a href="http://localhost:3000/index" target="_blank"><button type="submit" class="btn btn-black">Join Room</button></a>
            </div>
         </div>
      </div>
    </div>
    
  
  
</body>
</html>